.android {
  width: 20;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.footer > li > a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.footer > li {
  list-style-type: none;
  width: auto;
  margin: 2px 0px 2px 0px;
}

.footer-img {
  background-color: #FCF204;
  /* background-image: url("./../img/footer.jpg"); */
}

.identitas {
  /* background-image: url("./../img/footer.jpg"); */
  background-size: cover;
  background-color: #040825;
  color: white;
}

.list-transaksi {
  list-style-type: none;
}

.bg-home {
  background-color: #dedfe4;
}

.bg-heading {
  background-color: #040825;
}

.bg-yellow {
  background-color: #FCF204;
}

.bg-blue {
  background-color: aquamarine;
}

.bg-orange {
  background-color: rgb(253, 241, 222);
}

.bg-yellowlight {
  background-color: rgb(255, 253, 106);
}

.bg-green {
  background-color: paleturquoise;
}

.about {
  margin-bottom: 27px;
}

.about>li {
  list-style-type: none;
  margin-top: 4pt;
}


